body{
	stroke: 500px;
	font-family: 'Roboto', sans-serif;
}

.center{
	margin: auto;
	width: 40%;
	
}

.foto{
	width: 550px;
    height: 400px;
}

.foto2{
	width: 450px;
    height: 400px;
}

ol{
    padding-bottom: 20px;
}

ul{
    margin: 10px;
}

h1{
    font-size: 36px;
    line-height: 36px;
}

a{
    padding-left: 30px;
    padding-bottom: 10px;
}

